<!doctype html>
<html>

<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    {{> header}}
    <p><b>Response Headers</b></p>
    <pre id="json">{{getResponseHeaders}}</pre>
    <!--<p>{{getResponseHeaders}}</p>-->
    <p><b>Request Headers</b></p>
    <pre id="json">{{getRequestHeaders}}</pre>

    {{> footer}}
</body>

</html>
